@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.container{
    width: 980px;
    font-family: 'Ubuntu';
}




.accordion a{
    text-decoration: none;
    color: black;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 980px;
    height: 250px;
    background-color: #f5f5f5;
}
.footer .footer-content  {
    
    height: 200px;
    display: flex;
}
.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    
}

.footer .footer-bottom{
    background: black;
    color: blanchedalmond;
    height: 37px;
    width: 980px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    padding: 10px;
}

.footer-section a{
    color: black;
}

.footer .footer-content .about .socials a {
    color: black;
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
}
.footer .footer-content .about .socials a:hover{
    border: 1px solid white;
    color: white;
}

.footer .footer-content .links ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul{
    list-style-type: none;
}